<!-- BEGIN header -->
<p>{INSTRUCTIONTEXT}</p>
	
<div class="kprim_table">
	<div class="row">
		<div>{OPTION_LABEL_TRUE}</div>
		<div>{OPTION_LABEL_FALSE}</div>
	</div>
	<!-- END header -->
	<!-- BEGIN answer_row -->
	<div class="row">
		<div><input type="radio" name="{ANSWER_ID}" value="{VALUE_TRUE}" id="{ANSWER_ID}" {CHECKED_ANSWER_TRUE} {DISABLED}/></div>
		<div><input type="radio" name="{ANSWER_ID}" value="{VALUE_FALSE}" id="{ANSWER_ID}" {CHECKED_ANSWER_FALSE} {DISABLED}/></div>
		<div>
			<!-- BEGIN answer_image -->
		    <img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" {THUMB_SIZE}/>
			<!-- END answer_image -->
			<span>{ANSWER_TEXT}</span>
		</div>
	</div>
	<!-- BEGIN feedback -->
	<div>
		<span class="feedback">{FEEDBACK}</span>
	</div>
	<!-- END feedback -->
	<!-- END answer_row -->
</div>