<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align: top">{VAL_REVISION_INDEX}</td>
	<td class="std" style="vertical-align: top">{VAL_REVISION_NAME}</td>
	<td class="std" style="vertical-align: top">{VAL_REVISION_DATE}</td>
	<td class="std" style="vertical-align: top">{VAL_REVISION_CREATOR}</td>
	<td class="std" style="vertical-align: top">
		<a href="{VAL_PREVIEW_LINK}">{VAL_PREVIEW_LABEL}</a>&nbsp;
		<a href="{VAL_ROLLBACK_LINK}">{VAL_ROLLBACK_LABEL}</a>&nbsp;
		<a href="{VAL_DELETE_LINK}">{VAL_DELETE_LABEL}</a>
	</td>
</tr>